In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [ ]:
d=pd.read_csv('/marks.csv')
d

  Roll_no  Written_marks  Oral_marks  total_marks
0     one            9.0           8           17
1     two            7.0          10           17
2   three            2.0           2            4
3    four            NaN           6            6
4    five            NaN           5            5
5     six            3.0           2            5
6   seven            4.0           4            8
7   eight            4.0           3            7

In [ ]:
d.Written_marks=d.Written_marks.fillna('0')
d

  Roll_no Written_marks  Oral_marks  total_marks
0     one             9           8           17
1     two             7          10           17
2   three             2           2            4
3    four             0           6            6
4    five             0           5            5
5     six             3           2            5
6   seven             4           4            8
7   eight             4           3            7

In [ ]:
d.Roll_no=d.Roll_no.apply(w2n.word_to_num)
d

   Roll_no Written_marks  Oral_marks  total_marks
0        1             9           8           17
1        2             7          10           17
2        3             2           2            4
3        4             0           6            6
4        5             0           5            5
5        6             3           2            5
6        7             4           4            8
7        8             4           3            7

In [ ]:
import math
median=math.floor(d['total_marks'].mean())
median

8

In [ ]:
reg=linear_model.LinearRegression()
reg.fit(d[['Roll_no','Written_marks','Oral_marks']],d['total_marks'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.predict([[4,5,6]])

array([11.])

In [ ]:
reg.predict([[5,4,8]])

array([12.])